---
const year = new Date().getFullYear()
---

<footer>
  <p>
    <a href="/">
      <span>
        ©Felix Möllerherm <span id="year">{year}</span>
      </span>
    </a>

  </p>
  <p>
    <a href="/data">Datenschutz</a>
  </p>
  <p>
    <a href="/imprint">Impressum</a>
    
  </p>
</footer>

<style>
  footer {
    padding-block: 67px;
    text-align: center;
    padding-inline: var(--mobile-inline-padding);

    @media (width >= 768px) {
      padding-inline: 0;
    }

    & a {
      color: var(--text-color);
      text-decoration: none;
      transition: var(--transition-text);
    }

  }
</style>

<script is:inline>
  document.querySelector('#year').textContent = new Date().getFullYear()
</script>
